* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body {
	font-family: 'Roboto', sans-serif;
	font-size: 1.6rem;

	/* background-color: #333; */
}

.wrapper {
	margin: 0 auto;
	max-width: 1200px;
}
.hamburger {
	position: fixed;
}
.sticky-body {
	overflow: hidden;
}
/* test */
.header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 2em;
	height: 100vh;
	text-align: center;
	color: #fff;
	overflow: hidden;
}
.header__img {
	position: absolute;
	background-image: url('./img/P1120157.JPG');
	background-position: center;
	background-size: cover;
	background-attachment: center;
	width: 100vw;
	height: 100vh;
}
.header__shadow {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.6);
	width: 100vw;
	height: 100vh;
	z-index: 0;
}
.header__box {
	z-index: 2;
}
.header__title {
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 1px;
	color: #fff;
	font-size: 4.4rem;
}
.header__text {
	font-family: 'Montserrat', sans-serif;
	margin-top: 3em;
	font-size: 2.3rem;
	font-weight: 300;
	color: #fff;
	opacity: 0.6;
}
.header__btn {
	position: absolute;
	font-size: 20px;
	padding: 0.5em;
	bottom: 20px;
	color: #fff;
	z-index: 1000;
	text-decoration: none;
}
.mobile {
	position: fixed;
	width: 100%;
	height: 100vh;
	background-color: #333;
	transform: translateX(100%);
	transition: transform 0.3s;
	z-index: 10;
}
.mobile-active {
	transform: translateX(0);
}
.mobile__items {
	position: fixed;
	top: 25vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 50vh;
	width: 100%;
}
.mobile__item {
	position: relative;
	display: block;
	margin: 0.5em 0;
	padding: 0.5em 2em;
	color: #fff;
	text-decoration: none;
	font-size: 2.4rem;
	height: 100vh;
}
.deskop__box {
	display: none;
}
.nav__items {
	display: none;
}
.logo__box {
	position: fixed;
	font-size: 20px;
	top: 15px;
	left: 10px;
	padding: 0.5em;
	z-index: 5;
}
.logo__text {
	font-family: 'Sora', sans-serif;
	color: fff;
}
.fa-tree {
	margin-right: 10px;
	font-size: 2rem;
	color: #fff;
}

/* aboutus section */
.section-heading {
	position: relative;
	margin: 1.5em;
	font-size: 2.5rem;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	color: rgb(65, 155, 65);
	letter-spacing: 1px;
}
.section-heading::before {
	position: absolute;
	margin: 1.4em auto;
	left: 0;
	right: 0;
	width: 30%;
	height: 3px;
	background-color: rgb(65, 155, 65);
	content: '';
}
.section__aboutus {
	letter-spacing: 1.5px;
	font-weight: 500;
	margin: 2em 2em;
}
.section__aboutus p {
	padding-bottom: 1.5em;
}

/* offert */

.section__table {
	width: 90vw;
	max-width: 800px;
	margin: 2em auto;
	background-color: #ffffff;
	border-collapse: collapse;
	border-width: 1px;
	border-color: #419b41;
	border-style: solid;
	color: #fff;
}

.section__table td {
	font-size: 1rem;
	border-width: 1px;
	border-color: #419b41;
	border-style: solid;
	padding: 3px;
	color: #333;
}

.section__table th {
	font-size: 1.1rem;
	border-width: 1px;
	border-color: #419b41;
	border-style: solid;
	padding: 3px;
	color: #fff;
}
.section__table thead {
	background-color: #333333;
}
.fa-check {
	display: block;
	color: #419b41;
	text-align: center;
}
.fa-times {
	display: block;
	text-align: center;
}
td p {
	text-align: center;
	color: red;
	font-size: 1.2rem;
}
tbody tr td {
	text-align: center;
}
/* PROJECTS */
.section__projects {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.islands__card {
	position: relative;
	margin: 1em 1em;
	width: 80vw;
	max-width: 250px;
	height: 300px;
	color: #fff;
	text-align: center;
	perspective: 1000px;
}

.islands__card:hover .islands__card-img {
	transform: rotateY(-180deg);
	opacity: 0;
}

.islands__card:hover .islands__card-info {
	transform: rotateY(0deg);
	opacity: 1;
}

.islands__card-img {
	width: 100%;
	height: 300px;
	border-radius: 8px;
	background-size: cover;
	transition: opacity 1s, transform 1s;
	transition: transform 1s, opacity 1s;
	transition: transform 1s, opacity 1s, transform 1s;
}

.islands__card-img-info {
	position: absolute;
	bottom: 10px;
	right: 20px;
	font-size: 1.4rem;
}

.islands__card-img-info i {
	margin-right: 0.3rem;
}

.islands__card-info {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 8px;
	background: rgb(78, 102, 70);
	background: linear-gradient(90deg, rgba(78, 102, 70, 1) 0%, rgba(51, 115, 58, 1) 48%, rgba(98, 126, 99, 1) 100%);
	opacity: 0;

	transform: rotateY(180deg);

	transition: opacity 1s, transform 1s;
}

.islands__card-info-title {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 1.2em;
	font-family: 'Dancing Script', cursive;
	font-size: 2.8rem;
}

.islands__card-info-list {
	margin: 0 auto;
	width: 70%;
	list-style: none;
}

.islands__card-info-list-item {
	padding: 1em;
	font-size: 1.4rem;
	border-bottom: 1px solid #b9b9b9;
}

.islands__card-info-list-item:last-child {
	border-bottom: none;
}

.islands__card-info-btn {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 2em;
	padding: 1em;
	border-radius: 8px;
	width: 80%;
	border: none;
	background-color: #00ffaa;
	cursor: pointer;
}

.islands__card-info-btn::before {
	background-color: #0fe29c;
}
/* TEAM */
.section__team {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	margin: 2em auto;
}

.team__box {
	display: flex;
	flex-direction: column;
	height: 250px;
	width: 250px;
	margin: 1.5em;
	background-color: rgba(162, 226, 162, 0.2);
	border-radius: 10px;
	box-shadow: 0 1em 1em rgba(56, 158, 56, 0.5);
	box-shadow: 0 40px 60px -6px black;
}
.team__body {
	display: flex;
	flex-grow: 1;
}
.team__img {
	width: 100px;
	height: 100px;
	object-fit: cover;
	border-radius: 50%;
	margin: auto;
	border: 2px solid green;
}
.team__name {
	letter-spacing: 1px;
	margin-top: 20px;
	width: 50%;
	font-size: 2.5rem;
	text-align: center;
	font-family: cursive;
}
.team__text {
	text-align: center;
	margin: 0.5em;
	flex-grow: 1;
	width: 80%;
}
.team__info {
	margin-top: 0.5em;
	font-size: 1.5rem;
	font-weight: 200;
	font-style: italic;
}

/* contact */
.contact {
	background-color: rgb(153, 153, 153);
}
.contact__form,
.contact__form-top {
	margin: 1.5em 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contact__form-input,
.contact__form-textarea {
	width: 80vw;
	margin-bottom: 1em;
	margin: 0.5em 1em;
	padding: 0.5em;
	border: none;
	border-radius: 4px;
	font-size: 1.6rem;
}
.contact__form-textarea {
	max-width: 80vw;
	width: 80vw;
	min-width: 150px;
	max-height: 30vh;
	height: 30vh;
	min-height: 150px;
}
.contact__form-btn {
	align-self: flex-end;
	padding: 1em;
	margin: 1em;
	width: 50%;
	max-width: 300px;
	color: #419b41;
	border: none;
	border-radius: 8px;
	cursor: pointer;
}
/* social */
.deskop__map {
	display: none;
}

.social__box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
.media__socials {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}
.media__social {
	margin: 1em;
	font-size: 3rem;
	color: #2d742d;
}
.fa-phone-alt {
	font-size: 2rem;
	margin-right: 0.5em;
	margin-bottom: 0.5em;
	color: rgb(65, 155, 65);
}

.adress__box {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.social__adress-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 1em;
}
.social__adress {
	font-size: 2rem;
	margin: 0.5em;
}
.icon_adress {
	margin: 0.5em;
	font-size: 1.8rem;
}
.section__footer {
	width: 100%;
	height: 8vh;
	background-color: #999999;
}
/* footer */
.footer_box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 100%;
	margin-top: 1em;
}
.footer__text {
	font-weight: 300;
}
/* MEDIA */
@media (min-width: 576px) {
	.header__title {
		font-size: 5.6rem;
	}
	.header__tex {
		font-size: 2.8rem;
	}
	.section__table td {
		font-size: 1.4rem;
	}

	.section__table th {
		font-size: 1.6rem;
	}
	td p {
		font-size: 2rem;
	}
	.islands__card-img-info {
		font-size: 1.6rem;
	}
}
@media (min-width: 768px) {
	.header__title {
		font-size: 6.6rem;
	}
	.header__tex {
		font-size: 4rem;
	}
	.section__table td {
		font-size: 1.8rem;
	}

	.section__table th {
		font-size: 2rem;
	}
	td p {
		font-size: 2.2rem;
	}
	.deskop__map {
		display: flex;
	}
	.social__map {
		display: none;
	}
}
@media (min-width: 992px) {
	.hamburger {
		display: none;
	}
	.logo__box {
		display: none;
	}
	.header__title {
		font-size: 6.2rem;
	}
	.nav__desktop {
		position: absolute;
		top: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		min-height: 10vh;
	}
	.nav__items {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		width: 60%;
	}
	.nav__item {
		letter-spacing: 0.2rem;
		text-decoration: none;
		color: #fff;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 1.6rem;
		padding: 0.5em;
	}
	.nav__item {
		position: relative;
	}
	.nav__item::before,
	.nav__item::after {
		content: '';
		position: absolute;
		width: 0;
		bottom: 0;
		border-bottom: 2px solid rgb(65, 155, 65);
	}
	.nav__item::before {
		right: 50%;
	}
	.nav__item::after {
		left: 50%;
	}
	.nav__item:hover::before,
	.nav__item:hover::after {
		transition: width 0.3s;
		width: 50%;
	}
	.deskop__box {
		display: block;
		margin-left: 1.5em;
		font-size: 2em;
		font-family: 'Sora', sans-serif;
		color: #fff;
	}
	.section__table td {
		font-size: 2.4rem;
	}

	.section__table th {
		font-size: 2.6rem;
	}
	.deskop__map {
		display: flex;
	}
	.social__map {
		display: none;
	}

	.media__social {
		margin: 2em;
		font-size: 3rem;
	}
	.adress__box {
		flex-direction: row;
	}
	.social__adress-box {
		margin-left: 1em;
	}
	.social__adress {
		font-size: 3rem;
	}
	.fa-phone-alt {
		margin-bottom: 2em;
	}
}
