* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body {
	font-family: 'Roboto', sans-serif;
	font-size: 1.6rem;
	/* background-color: #333; */
}
.wrapper {
	margin: 0 auto;
	max-width: 1200px;
}
.hamburger {
	position: fixed;
}

.header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 2em;
	height: 100vh;
	width: 100%;
	text-align: center;
	color: #fff;
	overflow: hidden;
}
.header__img {
	position: absolute;
	background-image: url(/img/P1120157.JPG);
	background-position: center;
	background-size: cover;
	background-attachment: center;
	width: 100vw;
	height: 100vh;
}
.header__shadow {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.6);
	width: 100%;
	height: 100%;
	z-index: 0;
}
.header__box {
	z-index: 2;
}
.header__title {
	font-family: 'Sora', sans-serif;
	font-style: italic;
	color: #fff;
	font-size: 4.4rem;
}
.header__text {
	margin-top: 3em;
	font-size: 2.3rem;
	font-weight: 300;
	color: #fff;
}
.header__btn {
	position: absolute;
	font-size: 20px;
	padding: 0.5em;
	bottom: 20px;
	color: #fff;
	z-index: 1000;
}
.mobile {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100vh;
	background-color: rgb(2, 43, 2);
	transform: translateX(100%);
	transition: transform 0.3s;
	z-index: 10;
}
.mobile-active {
	transform: translateX(0);
}
.mobile__items {
	position: fixed;
	top: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
}
.mobile__item {
	position: relative;
	display: block;
	margin: 0.5em 0;
	padding: 0.5em 2em;
	color: #fff;
	text-decoration: none;
	font-size: 2.4rem;
	height: 100vh;
}
.nav__desktop {
	position: none;
}

.logo__box {
	position: fixed;
	font-size: 25px;
	top: 15px;
	left: 10px;
	padding: 0.5em;
	z-index: 5;
}
.logo__text {
	font-family: 'Sora', sans-serif;
	color: fff;
}
.fa-tree {
	margin-right: 10px;
	font-size: 2rem;
	color: #fff;
}

.section-test {
	height: 100vh;
	background-color: gray;
}

/* MEDIA */
@media (min-width: 576px) {
	.header__title {
		font-size: 5.2rem;
	}
}
@media (min-width: 768px) {
	.header__title {
		font-size: 5.8rem;
	}
}
@media (min-width: 992px) {
	.hamburger {
		display: none;
	}
	.logo__box {
		display: none;
	}
	.header__title {
		font-size: 6.2rem;
	}
	.nav__desktop {
		position: absolute;
		top: 10px;

		display: flex;
		justify-content: center;
		align-items: center;
		justify-content: space-between;
		width: 100%;
	}
	.nav__items {
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin-left: 500px;
		width: 50%;
	}
	.nav__item {
		display: inline-block;
		padding-left: 0.5rem;
		padding-right: 0.5rem;
		text-decoration: none;
		color: #fff;
		font-size: 2rem;
		transition: color 0.3s;
		margin-right: 3em;
		padding: 1em 0.5em;
	}
	.deskop__box {
		margin-left: 1.5em;
		font-size: 2em;
		font-family: 'Sora', sans-serif;
		color: #fff;
	}
}
